{% extends 'gudreads/base.html' %}

{% block title %}
    Change Password
{% endblock %}
{% block content %}
    <h1 class='ui header extra-top-padding'>Change Your Password</h1>
    <form method='POST' class='ui form'>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {% if field.help_text %}
                <div class='tooltip'>
                    <i class="info circle icon"></i>
                    <span class="tooltiptext">{{ field.help_text }}</span>
                </div>
            {% endif %}
            <div class='form-field'>
                {{ field }}
            </div>
            {% for error in field.errors %}
                <p class='errorlist'>{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button type='submit' class='ui button primary'>Change Password</button>
    </form>
{% endblock %}